* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.container {
  width: 980px;
  margin: 0 auto; }

.top-box {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid grey; }
  .top-box .a1 {
    width: 210px;
    height: 100px;
    display: block;
    margin: 0 500px 0 0;
    float: left; }
    .top-box .a1 img {
      margin: 20px 0 0 0; }
  .top-box span {
    font-size: 13px;
    display: block;
    height: 100px;
    line-height: 100px;
    float: left; }
  .top-box .a2 {
    color: grey;
    font-size: 13px;
    display: block;
    height: 100px;
    line-height: 100px;
    margin: 0 10px 0 10px;
    float: left; }
  .top-box .a3 {
    color: red;
    font-size: 13px;
    display: block;
    height: 100px;
    line-height: 100px;
    float: left; }

.main-bg {
  width: 100%;
  height: 590px;
  background: url(); }
  .main-bg .content-box {
    height: 590px; }
    .main-bg .content-box .imgbox {
      width: 440px;
      height: 442px;
      float: left;
      margin: 70px 30px 0 30px; }
    .main-bg .content-box .login-box {
      width: 438px;
      height: 440px;
      float: left;
      border: 1px solid lightgrey;
      margin-top: 70px; }
      .main-bg .content-box .login-box .login-message {
        width: 350px;
        height: 260px;
        margin: 20px auto; }
        .main-bg .content-box .login-box .login-message .login-message-tip {
          height: 30px;
          text-align: center;
          font-size: 18px;
          line-height: 30px;
          margin-bottom: 30px; }
        .main-bg .content-box .login-box .login-message .admin-box {
          width: 348px;
          height: 52px;
          border: 1px solid lightgrey;
          outline: blue; }
          .main-bg .content-box .login-box .login-message .admin-box i {
            display: block;
            width: 20px;
            height: 20px;
            margin: 15px 0 0 10px;
            border: 1px solid lightgrey;
            float: left; }
          .main-bg .content-box .login-box .login-message .admin-box input {
            outline: none;
            border: none;
            margin: 18px 0 0 10px; }
        .main-bg .content-box .login-box .login-message .pass-box {
          width: 348px;
          height: 53px;
          border: 1px solid lightgrey;
          border-top: none;
          outline: blue; }
          .main-bg .content-box .login-box .login-message .pass-box i {
            display: block;
            width: 20px;
            height: 20px;
            margin: 15px 0 0 10px;
            border: 1px solid lightgrey;
            float: left; }
          .main-bg .content-box .login-box .login-message .pass-box input {
            outline: none;
            border: none;
            margin: 18px 0 0 10px; }
        .main-bg .content-box .login-box .login-message .checkbox {
          height: 50px;
          line-height: 50px;
          color: grey; }
          .main-bg .content-box .login-box .login-message .checkbox a {
            float: right;
            color: grey; }
        .main-bg .content-box .login-box .login-message .btn {
          width: 350px;
          height: 40px;
          border: none;
          outline: none;
          background: red;
          color: white; }

.split-line {
  width: 430px;
  height: 7px;
  margin: 20px auto;
  background: url(https://order.gjw.com/Order/v1/css/login/images/dashed_bg_06.gif); }

.link-admin {
  width: 350px;
  height: 70px;
  margin: 0 auto; }
  .link-admin p {
    font-size: 12px;
    margin-bottom: 10px; }
  .link-admin div {
    width: 350px;
    height: 70px;
    margin: 0 auto; }
    .link-admin div a {
      margin-right: 10px; }
    .link-admin div span {
      width: 120px;
      height: 40px;
      display: block;
      margin-left: 10px;
      background: red;
      color: white;
      float: right;
      text-align: center;
      line-height: 40px;
      font-size: 16px; }

.footer {
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 14px;
  color: grey; }
  .footer a {
    color: grey; }
  .footer span {
    margin: 0 10px 0 10px; }
  .footer i {
    font-style: normal; }
